
ScienceDirect/Bullet-fragment-in-the-eustachian-tube-presenting-as-co_2021_Otolaryngology-.pdf
ScienceDirect/Bullet-in-tracheobronchial-tree-without-lung-contusio_2019_Respiratory-Medic.pdf
ScienceDirect/Endoscopic-removal-by-ERCP-of-a-foreign-body--bullet-_2021_Gastrointestinal-.pdf
ScienceDirect/Sinking-bullet-syndrome--A-unique-case-of-trans_2021_Clinical-Neurology-and-.pdf
ScienceDirect/The-trajectory-of-a-low-velocity-bullet-from-the-chest-to_2021_Trauma-Case-R.pdf
